<!--HOME PAGE-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comic Books</title>
  </head>
  <body>
    <h1>Comic Books</h1>
    <p>An app for collecting your favorite comic books.</p>
  </body>
</html>