body {
  background: rgb(185, 185, 185);
  font-family: Times New Roman;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

h1 {
  color: #2a727d;
  text-align: center;
}