<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <h1>Comic Books</h1>
  <a class="log-comic" href="/comics/new">log comic book</a>
</header>

<body>
  <div class="index-header-div">
    <h2>Comic Books Log</h2>
    <p>A list of your favorite comic books.</p>
  </div>
  <ul>
    <% comics.forEach((comic)=> { %>
      <li>
        <a class="comic-cards" href="/comics/<%=comic._id%>">
          <%= comic.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>

</html>