<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log Your Comics</title>
  </head>
  <body>
    <h1>Log Your Comic!</h1>
    <form action="/comics" method="POST">
      <label for="name">Publisher:</label>
      <input type="text" name="name" id="name" />

      <label for="name">Title:</label>
      <input type="text" name="name" id="name" />

      <label for="name">Year:</label>
      <input type="text" name="name" id="name" /><br>
  
      <label for="wishList">Wish List?</label>
      <input type="checkbox" name="wishList" id="wishList" /><br>
  
      <button type="submit">Add Comic</button>
    </form>
  </body>
</html>